@import './_global';

*{
    @include global
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #262153;
    position: fixed;
    z-index: 1000;
    padding: 0rem 3.3rem;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(183, 180, 180);

    & .logo{
        display: inherit;
        align-items: center;
        justify-content: space-around;

        & b{
            margin-left: 0.5rem;
        }
    }

    & .links{
        display: inherit;
        align-items: center;

        & span{
            margin: 0rem 1rem;
            font-weight: 500;
        }
    }

    & .get-started{
        & a{
            font-weight: 500;
            text-decoration: none;
            color: #000;
        }
    }

    @media (max-width:700px) {
        padding: 0rem 2rem;

        & .logo{

            & img{
                width: 20px;
                height: 20px;
            }

            & b{
                margin-left: 0.5rem;
                font-size: 0.7rem;
            }
        }

        & .links{

            & span{
                margin: 0rem 0.5rem;
                font-weight: 500;
                font-size: 0.8rem;
            }
        }

        & .get-started{

            & a{
                font-weight: 500;
                text-decoration: none;
                color: #000;
                font-size: 0.8rem;
            }
        }
    }

    @media (max-width:450px) {
        padding: 0rem 1rem;

        & .logo{

            & img{
                width: 20px;
                height: 20px;
            }

            & b{
                margin-left: 0.2rem;
                font-size: 0.5rem;
            }
        }

        & .links{

            & span{
                margin: 0rem 0.3rem;
                font-weight: 600;
                font-size: 0.6rem;
            }
        }

        & .get-started{

            & a{
                font-weight: 600;
                text-decoration: none;
                color: #000;
                font-size: 0.6rem;
            }
        }
    }
}