@import './_global';

*{
    @include global
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #262153;
    position: fixed;
    z-index: 1000;
    padding: 0rem 3.3rem;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(183, 180, 180);

    & .logo{
        display: inherit;
        align-items: center;
        justify-content: space-around;

        & b{
            margin-left: 0.5rem;
        }
    }

    & .links{
        display: inherit;
        align-items: center;

        & span{
            margin: 0rem 1rem;
            font-weight: 500;
        }
    }

    & .get-started{
        & a{
            font-weight: 500;
            text-decoration: none;
            color: #000;
        }
    }
}